*{
    margin: 0;
}
body{
    background-color: black;
    color: white;
    font-family: 'Raleway';
    font-weight: 300;
}
header{
    display: flex;
    justify-content: center;
}
.header-title{
    font-size: 50px;
}
.main-image{
    width: 100%;

}
.description-image{
    float: right;
    width: 399px;
    height: 237px;
    margin-right: 150px;
    margin-top: 45px;
    margin-bottom: 66px;
}
.description-container{
    overflow: auto;
    height: 348px;
}
.description-text{
    width: 475px;
    height: 197px;
    margin-left: 150px;
    margin-top: 75px;
    margin-bottom: 76px;
}
.characteristics-container{
    background: #1E1A13 0% 0% no-repeat padding-box;
    opacity: 0.98;
    height: 348px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.characteristics-title{
    font: normal normal medium 40px/47px Raleway;
    margin-top: 75px;
    height: 47px;
}
.characteristics-subcontainer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.characteristics-item{
    width: 20%;
    margin-top: 50px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-text{
    margin-top: 15px;
}
.images-container{
    height: 348px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-item{
    width: 316px;
    height: 202px;
    margin-right: 16px;
}
.footer-container{
    height: 102px;
    background: #1E1A13 0% 0% no-repeat padding-box;
    opacity: 0.94;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-link{
    color: #FFFFFF;

}